:root {
    --primary-color: #070828;
    --secondary-color: #B2B1FF;
    --cta-color: #6223C3;
    --tetiary-color: #EBEDF0;
    --neutral-contrast-gradient: linear-gradient(107deg, rgba(128,128,128,1) 0%, rgba(192,192,192,1) 100%);
    --secondary-background: linear-gradient(107deg, rgba(49,0,145,1) 0%, rgba(0,86,203,1) 100%);
    --main-background-gradient: linear-gradient(107deg, rgba(99,34,195,1) 0%, rgba(45,136,253,1) 100%);
}

button p {
    font-weight: 600;
}

main {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    padding: 20px 10%;
}

section p {
    opacity: .5;
}

section.jobs-company-candidates {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
    color: var(--primary-color);
    padding: 40px 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.jobs-company-candidates p {
    opacity: 50%;
}

section.jobs-company-candidates .potential h2 {
    font-size: 40px;
    margin-top: 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

section.jobs-company-candidates .potential h2 span {
    color: var(--cta-color);
}

section.jobs-company-candidates .sectors {
    /* line-height: 50px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.jobs-company-candidates .sectors span {
    background: var(--main-background-gradient);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

section.jobs-company-candidates .job-company-count {
    display: none;
    flex-direction: row;
    /* width: 80%; */
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.jobs-company-candidates .job-company-count span {
    margin: 0 10px;
}

section.jobs-company-candidates .job-company-count p[class$="count"] {
    opacity: 1;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 0;
}

section.who-we-are {
    padding: 20px 10%;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
    column-gap: 10%;
}

section.who-we-are p {
    opacity: 50%;
}

section.who-we-are .left {
    width: 45%;
    text-align: justify;
}

section.who-we-are h3 {
    font-size: 35px;
    text-align: left;
    margin: 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

section.who-we-are button {
    background: var(--main-background-gradient);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

section.who-we-are button p {
    opacity: 1;
    font-size: 12px;
    margin-right: auto;
}

section.who-we-are .left img {
    width: 15px;
}

section.who-we-are .right {
    width: 45%;
}

section.who-we-are .right img {
    width: 100%;
    filter: drop-shadow( 10px 10px rgba(0, 0, 0, .3));
}

section.latest-featured-jobs {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
    color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.latest-featured-jobs h3 {
    font-size: 40px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    margin: 0;
}

.jobs-header {
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.jobs-header p {
    text-align: center;
}

.featured-jobs-home {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
}

.job-card-home {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    background: var(--main-background-gradient);
    color: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.job-card-home p {
    opacity: 1;
}

.job-card-home:hover {
    transition: ease .5s;
    width: 35%;
  }

.featured-jobs-home .logo-and-name {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.featured-jobs-home p {
    text-align: justify;
    opacity: 1;
}

.featured-jobs-home .logo-and-name img {
    width: 35px;
    margin-right: 15px;
}

.company-name,
.job-type {
    margin: 0;
}

.company-name {
    opacity: 1;
    font-weight: 600;
    margin-bottom: 2px;
}

.job-title-home {
    margin-top: 20px;
    font-weight: 800s;
    margin-bottom: 0;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.job-salary {
    opacity: 1;
    font-weight: bold;
    color: white;
    margin: 0;
}

.job-skills {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.job-description-home {
    opacity: .8;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.job-skills span {
    background-color: var(--tetiary-color);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.job-skills span p {
    opacity: 1;
    color: var(--cta-color);
    margin: 0;
}

.browse-more {
    margin: 20px;
}

.browse-more-cta {
    border: none;
    background: var(--main-background-gradient);
    padding: 20px 35px;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    font-weight:1000;
}

.browse-more-cta:hover {
    transition: ease .5s;
    transform: scale(1.07);
}

section.contact-us {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
}

.contact-us .cta-text {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contact-us h3 {
    text-align: left;
    font-size: 45px;
    margin: 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

.contact-us .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

[class^="contacts-"] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 50%;
}

[class^="contacts-"] img {
    width: 25px;
    margin-right: 10px;
}

[class$="-details"] h4 {
    margin: 0;
}

[class$="-details"] {
    margin-bottom: 25px;
}

[class$="-details"] p {
    margin: 0;
}

.cta-image {
    width: 40%;
}

.cta-image img {
    width: 90%;
    filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, .3));
}

.cta-image img:hover {
    transition: ease .5s;
    transform: scale(1.07);
}

.cta-text {
    text-align: justify;
}

@media only screen and (max-width: 900px) {
    .featured-jobs-home {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .job-card-home {
        width: 80%;
    }

    .job-card-home:hover {
        width: 81%;
      }

    section.contact-us {
        flex-direction: column;
        align-items: center;
    }

    .contact-us .cta-text {
        width: 100%;
    }

    .contact-us h3 {
        font-size: 35px;
        position: relative;
        text-align: center;
    }

    section.who-we-are h3 {
        position: relative;
        text-align: center;
    }

    .contact-us .contacts {
        margin-top: 20px;
    }

    .cta-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-image img {
        width: 50%;
        align-self: center;
    }

    section.who-we-are {
        flex-direction: column;
    }

    section.who-we-are .left {
        width: 100%;
    }

    section.who-we-are .right {
        display: none;
    }
}
