:root {
    --primary-color: #070828;
    --secondary-color: #B2B1FF;
    --cta-color: #8C8AFF;
    --tetiary-color: #EBEDF0;
}

main {
    display: flex;
    justify-content: center;
    background: var(--tetiary-color);
    padding: 0;
}

.signup {
    margin: 40px 0;
    border-radius: 10px;
    align-self: center;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--primary-color);
    padding: 30px;
    width: 40%;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .5);
}

.signup h2, .signup p {
    margin: 0;
}

.signup p {
    font-weight: 400;
    margin-bottom: 20px;
}
.signup input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(168, 167, 167);
    margin: 5px 0 10px 0;
}

.signup div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px 0;
}

.signup button {
    background-color: var(--cta-color);
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.signup a {
    opacity: 1;
    font-weight: 900;
}

.signup input.email-input {
    margin-bottom: 0;
}
.email-error {
    color: red;
    font-size: 10px;
    opacity: .8;
    margin: 0;
    text-align: left;
}
@media only screen and (max-width: 900px) {
    .signup {
        min-width: 60%;
    }
}
